.register-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 750px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #333;
}

.form-columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.divider {
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color:#ff6240;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #3367d6;
}